body{
	color: #000000;
	background-color: rgb(218, 213, 213);
    background-position: left;
    padding: 1px;
	font-family: 'Times New Roman', Times, serif;
	line-height: 2.0em;
	margin: 2px;}